@media screen  and (max-width: 768px) {
    .navbar-nav {
        gap: 10px;
        padding: 2svh 0;
    }
    .introCard {
        display: flex;
        flex-direction: column;
        padding: 5svh 2svw;
    }
    .textSpeech {
        width: auto;
        margin: 5svh 3svh;
    }
    .textSpeech h2 {
        font-size: 1.5em;
        padding-left: 4svh;
    }
    .textSpeech p {
        text-indent: 1svh;
    }
    #realisations {
        height: auto;
        padding-top: 5svh;
    }
    #competences {
        flex-direction: column;
        padding: 7svh 0!important;
    }
    .langagesSect {
        width: auto;
    }
    
    .diplomas {
        width: auto;
    }
}