:root {
    --typewriterSpeed: 4s;
    --typewriterCharacters: 23;
    --bg-color: rgb(228, 216, 245);
    --bg-color2: #212529;
    --txt-color: #a074f3;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    overflow-x: hidden;
}

/* HEADER PAGE */
/* header */
.intro {
    height: 85svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#start {
    background-color: var(--bg-color2);
}

.navbar-nav {
    font-weight: bold;
    gap: 50px;
}

.nav-item a {
    color: var(--txt-color)!important;
}

/* HEADER PRESENTATION */
.indexPict {
    max-width: 150px;
}

.introCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10svh 4svw;
}

/* typewriter */
.typewriter {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    width: max-content;
    color: var(--txt-color);
    text-align: center;
}

.typewriter::before,
.typewriter::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.typewriter::before {
    background: #212529;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.typewriter::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.subtitle {
    color: hsla(0, 0%, 56%, 0.7);
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* LANGAGES WEB ET DIPLOMES */
.langagesSect {
    width: 40%;
}

.diplomas {
    width: 40%;
}