/* BREADCRUMB */
.breadcrumbGeneral {
    margin: 2% 0;
    padding: 0.5%;
    background-color: rgba(245, 240, 240, 0.7);
}

.breadcrumbGeneral a, .breadcrumbGeneral li {
    color: black;
}

/* INDEX COULEUR LIENS */
.index main article section div div a {
    color: black;
}

/* STYLE DES TITRES */
.text-resizing, .text-resize {
    font-size: 20px;
}

main article section h2, main article section h3, main article section h4, article div h2, main article section div div .white-color {
    font-variant: small-caps;
    color: white;
}

.experiences main article section div div li svg {
    color: white;
    margin-left: 15px;
}

main article section p, h1, h2 {
    color: white;
}

main article section div div .white-color {
    font-size: 1.2em;
}

.experiences main article section div ul .padding {
    padding: 15px;
}

.competences main article section .card, .index main article section div div, .experiences main article section .card {
    background-color: rgba(177, 174, 174, 0.479);
}

/*PORTFOLIO LANGAGES */
.littleMaj {
    font-variant: small-caps;
    font-size: 1.2em;
}

/* BACKGROUNDS */
.portfolio {
    background-image: url(../img/bcg/milkway.jpg);
}

.competences {
    background-image: url(../img/bcg/galaxy.jpg);
}

.experiences {
    background-image: url(../img/bcg/starry-sky.jpg)
}

.index {
    background-image: url(../img/bcg/constellations.jpg)
}

.competences, .portfolio, .experiences, .index {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

/* PORTFOLIO HEIGHT MEDIA */
@media screen and (min-width: 1400px) {
    .higher {
        margin: 7% 0;
    }
}

/* HOVER */ 
.competences main article section div div:hover, .experiences main article section .card:hover {
    background-color: rgba(211, 211, 211, 0.603);
}

.competences main article section div div:hover h3, .competences main article section div div:hover h4, .experiences main article section .card:hover ul li, .experiences main article section .card:hover h3, .experiences main article section .card:hover p, .experiences main article section .card:hover svg {
    color: black;
  }  

body main article section div button, .index main article section div div .transform {
    transition: all .5s ease-in-out;
}

body main article section div button:hover, .index main article section div div .transform:hover { 
    transform: scale(1.1);
    margin-right: 0;
}

.competences main article section .card:hover, .index main article section div div:hover {
    background-color: rgba(211, 211, 211, 0.603);
  }
  
  .competences main article section .card:hover h1, 
  .competences main article section .card:hover h2, 
  .competences main article section .card:hover h3, 
  .competences main article section .card:hover h4, 
  .competences main article section .card:hover p, 
  .competences main article section .card:hover ul, 
  .competences main article section .card:hover path, 
  .competences main article section .card:hover a, 
  .index main article section div div:hover h1, 
  .index main article section div div:hover h2, 
  .index main article section div div:hover h3, 
  .index main article section div div:hover h4, 
  .index main article section div div:hover p, 
  .index main article section div div:hover ul, 
  .index main article section div div:hover path, 
  .index main article section div div:hover a {
    color: black;
  }

  .opacity {
    background-color: rgba(211, 211, 211, 0.603);
  }
