html {
    scrollbar-color: var(--txt-color) var(--bg-color2);
    scrollbar-width: thin;
}

:root {
    --typewriterSpeed: 4s;
    --typewriterCharacters: 23;
    --bg-color: rgb(228, 216, 245);
    --bg-color2: #212529;
    --txt-color: #a074f3;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    overflow-x: hidden;
}

/* HEADER PAGE */
/* header */
.intro {
    height: 85svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#start {
    background-color: var(--bg-color2);
    color: var(--txt-color);
}

.navbar-nav {
    font-weight: bold;
    gap: 50px;
}

.nav-item a {
    color: var(--txt-color) !important;
}

.nav-item a:hover {
    transform: scale(1.1);
}

.navbar-brand {
    cursor: default;
}

/* HEADER PRESENTATION */
.indexPict {
    max-width: 150px;
}

.introCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10svh 4svw;
}

/* typewriter */
.typewriter {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    width: max-content;
    color: var(--txt-color);
    text-align: center;
}

.typewriter::before,
.typewriter::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.typewriter::before {
    background: #212529;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.typewriter::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.subtitle {
    color: hsla(0, 0%, 56%, 0.7);
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* PRESENTATION */
.textSpeech {
    width: 50%;
    margin: 10svh auto;
}

.textSpeech h2 {
    font-variant: small-caps;
    font-size: 1.5em;
    padding-left: 10svh;
}

.textSpeech p {
    text-indent: 2svh;
    font-size: 1.2em;
}

.textSpeech a {
    color: black;
    text-decoration-color: var(--txt-color);
}

.textSpeech a:hover {
    background-color: var(--txt-color);
}

.separatingBar {
    width: 300px;
    height: 5px;
    background: linear-gradient(to right, var(--bg-color) 0%, var(--txt-color) 50%, var(--bg-color2) 100%);
    margin-bottom: 10px;
}

/* REALISATIONS */
#realisations {
    background-color: var(--bg-color2);
    color: var(--bg-color);
    height: 100svh;
}

#realisations h3 {
    font-size: 1.5rem;
}

#realisations p {
    font-size: 1.1rem;
}

/* LANGAGES WEB ET DIPLOMES */
#competences {
    height: 100svh;
}

.langagesSect {
    width: 40%;
}

.diplomas {
    width: 40%;
}

.progress-bar {
    background-color: var(--txt-color);
}

/* FOOTER */
footer {
    height: 65svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright p {
    font-size: 1.5em;
    color: var(--txt-color);
}

.copyItem {
    color: yellow;
}

/* github et linkedin */
.social-medias {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 30%;
    margin-top: 5svh;
}

.github img,
.linkedin img {
    min-height: 50px;
    max-height: 80px;
    min-width: 50px;
    max-width: 80px;
}

.github img:hover,
.linkedin img:hover {
    transform: scale(1.1);
}

/* REALISATIONS HOVER */
#realisations .card:hover {
    background-color: #424d5793!important;
}

/* fade in */
.reveal {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari et Chrome */
    -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}